# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Backups
*.bak
